@model PaginationList<News>

@{
    ViewData["Title"] = "Список новостей";
}
   
<a asp-action="CreateNews" asp-controller="News">Добавить новость</a>

<div class="card" style="width: 18rem;">
	@foreach (var item in Model)
	{
		<img src="@item.MainImagePath" class="card-img-top" alt="photo">
		<div class="card-body">
			<h5 class="card-title">@item.NameRu</h5>
			<p>Дата последнего обновления: @item.CreatedDate</p>
			@if (item.Publicate == false)
			{
				<a class="btn btn-primary" id="public-@item.Id" onclick="Public('@item.Id')">Опубликовать</a>
			}
			else
			{
				<a class="btn btn-primary" id="public-@item.Id" onclick="Public('@item.Id')">Снять с публикации</a>
			}
			<a class="btn btn-primary" asp-controller="News" asp-action="EditNews" asp-route-id="@item.Id">Изменить</a>
			<a class="btn btn-primary" asp-controller="News" asp-action="DetailsNews" asp-route-id="@item.Id">Подробнее</a>
			<a class="btn btn-primary" asp-controller="News" asp-action="DeleteNews" asp-route-id="@item.Id">Удалить</a>
		</div>
	}
</div>
@{
	var prevDisabled = !Model.PreviousPage ? "disabled" : "";
	var nextDisabled = !Model.NextPage ? "disabled" : "";
}
<a asp-action="News" asp-route-pageNumber="@(Model.PageIndex-1)" class="btn btn-default @prevDisabled">Назад</a>
<a asp-action="News" asp-route-pageNumber="@(Model.PageIndex+1)" class="btn btn-default @nextDisabled">Вперед</a>
@section Scripts
{
    <script>
        function Public(NewsId) {
            $.ajax({
                url: '@Url.Action("PublicNews", "News")',
                type: 'GET',
				data: { 'id': NewsId },
			    success: function(){
					window.location.href = '/News/News';
				} 
            });
        }
    </script>
}
