<link type="text/css" rel="stylesheet" href="~/css/Service/AdditionalServicesDetails.css"/>
@model List<Services>
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer;
@using System.Threading;

@{
	ViewData["Title"] = @localizer["additionalServicesTitle"];
}

<h1>@localizer["additionalServicesTitle"]</h1>

@if (@Model.Count() == 0)
{
	<p>Дополнительные услуги еще не добавлены</p>
}
else
{
	<table class="table">
		<tbody>
			@{
				bool isUser = !User.IsInRole("admin") && !User.IsInRole("mediaManager") && !User.IsInRole("portfolioManager");
			}
			@foreach (var item in Model)
			{
				<tr>
					@if (@Thread.CurrentThread.CurrentCulture.DisplayName == "Русский")
					{
						<td id="ServiceName-@item.NameRu">
							@item.NameRu
						</td>
						<td>
							@item.DescriptionRu
						</td>
					}
					else
					{
						<td id="ServiceName-@item.NameRu">
							@item.NameKy
						</td>
						<td>
							@item.DescriptionKy
						</td>
					}

					<td>
						<img src="@item.Photo" class="card-img-top" alt="Img">
					</td>
					<td>

						@if (isUser)
						{
							<a onclick="ToOpenModal('@item.NameRu')" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#AdditionalModal">@localizer["additionalOrderButton"]</a>
						}
					</td>
				</tr>
			}
		</tbody>
	</table>
}
<div>
	<a asp-action="Services">@localizer["additionalBackButton"]</a>
</div>

<!-- AdditionalModal -->
<div class="modal fade" id="AdditionalModal" tabindex="-1" aria-labelledby="AdditionalModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="AdditionalModalLabel"></h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<form action="" id="additionalForm" role="form">
				<div class="modal-body">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<div class="form-group">
						<label class="control-label">Имя</label>
						<input id="UserNameAdditional" class="form-control" />
					</div>
					<div class="form-group">
						<label class="control-label">Номер телефона</label>
						<input id="PhoneAdditional" class="form-control" required="required" oninvalid="this.setCustomValidity('Текст ошибки с локазизацией')" onchange="this.setCustomValidity('')" />
					</div>
					<div class="form-group">
						<label class="control-label">Электронная почта</label>
						<input id="emailAdditional" class="form-control" type="email" oninvalid="this.setCustomValidity('Текст ошибки с локазизацией')" onchange="this.setCustomValidity('')" />
					</div>
					<div class="form-group">
						<label class="control-label">Дополнительная информация</label>
						<textarea id="commentAdditional" class="form-control"></textarea>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary">Заказать</button>
				</div>
			</form>
		</div>
	</div>
</div>

@section Scripts
	{
	<script>
		$(document).ready(function () {
			$("#additionalForm").submit(function (e) {
				e.preventDefault();
				console.log('hello');
				let name = $('#UserNameAdditional').val();
				let number = $('#PhoneAdditional').val();
				let email = $('#emailAdditional').val();
				let serviceName = $('#AdditionalModalLabel').text();
				let comment = $('#commentAdditional').val();
				$.ajax({
					url: '@Url.Action("CreateCallBackAndAdditionalService", "Order")',
					type: 'POST',
					data: {
						'userName': name,
						'phoneNumber': number,
						'email': email,
						'comment': comment,
						'serviceName': serviceName
					},
					success: window.location.href = '/Service/AdditionalServicesDetails',
				});
				return false;
			});
		});

		function ToOpenModal(name) {
			$('#AdditionalModalLabel').text(name);
		};

	</script>
}