<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Manrope&display=swap" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="~/css/Service/AdditionalServicesDetails.css" />
@model List<Services>
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer;

@{
	ViewData["Title"] = @localizer["additionalServicesTitle"];
}

<h1 class="text-center mt-3">@localizer["additionalServicesTitle"]</h1>

@if (@Model.Count() == 0)
{
	<p>Дополнительные услуги еще не добавлены</p>
}
else
{
	<div class="row main-block ">
		@foreach (var item in Model)
		{
			<div class="col-sm-6 mt-3">
				<div class="card tool">
					<div class="card-body">
						<img src="@item.Photo" class="image card-img-top rounded-circle" alt="...">
						<div class="card-body ms-4">
							@if (System.Threading.Thread.CurrentThread.CurrentCulture.Name == "ru")
							{
								<h5 id="ServiceName-@item.NameRu" class="card-title fw-bold">@item.NameRu</h5>
								<p class="card-text">@item.DescriptionRu</p>
							}
							else
							{
								<h5 id="ServiceName-@item.NameRu" class="card-title fw-bold">@item.NameKy</h5>
								<p class="card-text">@item.DescriptionKy</p>
							}
						</div>
					</div>
					@if (System.Threading.Thread.CurrentThread.CurrentCulture.Name == "ru")
					{
						<a onclick="ToOpenModal('@item.NameRu')" class="btn btnOrder mb-2 btn-success" data-bs-toggle="modal" data-bs-target="#AdditionalModal">@localizer["additionalOrderButton"]</a>
					}
					else
					{
						<a onclick="ToOpenModal('@item.NameKy')" class="btn btnOrder mb-2 btn-success" data-bs-toggle="modal" data-bs-target="#AdditionalModal">@localizer["additionalOrderButton"]</a>
					}
				</div>
			</div>
		}

	</div>

}
<div class="mb-2">
	<a class="btn btn-outline-success" asp-action="Services">@localizer["additionalBackButton"]</a>
</div>


<!-- AdditionalModal -->
<div class="modal fade" id="AdditionalModal" tabindex="-1" aria-labelledby="AdditionalModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="AdditionalModalLabel"></h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<form action="" id="additionalForm" role="form">
				<div class="modal-body text-center">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<div class="form-group">
						<label class="control-label">@localizer["nameOrderLabel"]</label>
						<input id="UserNameAdditional" class="form-control" />
					</div>
					<div class="form-group">
						<label class="control-label">@localizer["phoneNumberOrderLabel"]</label>
						<input type="number" id="PhoneAdditional" class="form-control" required="required" oninvalid="this.setCustomValidity('@localizer["customValidityPhoneNumber"]')" onchange="this.setCustomValidity('')" />
					</div>
					<div class="form-group">
						<label class="control-label">@localizer["emailOrderLabel"]</label>
						<input id="emailAdditional" class="form-control" type="email" oninvalid="this.setCustomValidity('@localizer["customValidityEmail"]')" onchange="this.setCustomValidity('')" />
					</div>
					<div class="form-group">
						<label class="control-label">@localizer["descriptionOrderLabel"]</label>
						<textarea id="commentAdditional" class="form-control"></textarea>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btnModal mb-2 btn-success">@localizer["orderButton"]</button>
				</div>
			</form>
		</div>
	</div>
</div>

@section Scripts
	{
	<script>
		$(document).ready(function () {
			$("#additionalForm").submit(function (e) {
				e.preventDefault();
				let name = $('#UserNameAdditional').val();
				let number = $('#PhoneAdditional').val();
				let email = $('#emailAdditional').val();
				let serviceName = $('#AdditionalModalLabel').text();
				let comment = $('#commentAdditional').val();
				$.ajax({
					url: '@Url.Action("CreateCallBackAndAdditionalService", "Order")',
					type: 'POST',
					data: {
						'userName': name,
						'phoneNumber': number,
						'email': email,
						'comment': comment,
						'serviceName': serviceName
					},
					success: function () {
						Swal.fire(
							'Заказ оформлен успешно!',
							'Спасибо',
							'success'
						).then(function () {
							window.location.replace("https://localhost:44380/Service/Services");
						});
					},
					failure: function () {

						Swal.fire(
							'Произошла ошибка при заказе!',
							'Попробуйте заново',
							'success'
						);
					},
					error: function () {
						;
						Swal.fire(
							'Произошла ошибка при заказе!',
							'Попробуйте заново',
							'success'
						);
					}
				});

			});
		});

		function ToOpenModal(name) {
			$('#AdditionalModalLabel').text(name);
		};

	</script>
}