@using System.Threading;
<link type="text/css" rel="stylesheet" href="~/css/Service/Services.css" />
@model List<Autopodbor_312.Models.Services>
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer;
@{
	ViewData["Title"] = @localizer["servicesTitle"];
}
<h1>@localizer["ourServices"]</h1>
<div class="row row-cols-1 row-cols-md-3 g-4 mt-1 main-block">

	@foreach (var item in Model)
	{
		<div class="col" style="clear: both;">
			<div class="card">
				<img src="@item.Photo" class="image card-img-top rounded-circle" alt="service-Photo">
				<div class="card-body">
					@if (@Thread.CurrentThread.CurrentCulture.DisplayName == "Русский")
					{
						<h5 class="card-title">@item.NameRu</h5>
						if (@item.NameRu == "Дополнительные услуги")
						{
							int indexFE = 0;
							@foreach (var desc in item.DescriptionRu.Split('•'))
							{
								if (indexFE == 0)
								{
									<p> @desc</p>
								}else{
									<p>• @desc</p>
								}
								indexFE++;
							}
						}
						else {
							<p class="card-text">@item.DescriptionRu</p>
						}
					}
					else
					{
						<h5 class="card-title">@item.NameKy</h5>
						if (@item.NameRu == "Дополнительные услуги")
						{
							int indexFE = 0;
							@foreach (var desc in item.DescriptionKy.Split('•'))
							{
								if (indexFE == 0)
								{
									<p> @desc</p>
								}
								else
								{
									<p>• @desc</p>
								}
								indexFE++;
							}
						}
						else
						{
							<p class="card-text">@item.DescriptionKy</p>
						}
					}

					@if (@item.NameRu != "Дополнительные услуги")
					{
						<a class="btn btn-outline-dark" asp-controller="Order" asp-action="CreateOrder" asp-route-serviceName="@item.NameRu">@localizer["orderButton"]</a>
					}
					else if (@item.NameRu == "Дополнительные услуги")
					{
						<a class="btn btn-outline-dark" asp-action="AdditionalServicesDetails" asp-route-id="@item.Id">@localizer["detailsButton"]</a>
					}
					@if (@item.NameRu == "Выездной осмотр")
					{
						<a class="btn btn-outline-dark" asp-controller="Calculator" asp-action="Index">@localizer["calcButton"]</a>
					}
				</div>
			</div>
		</div>
	}
</div>


