<link type="text/css" rel="stylesheet" href="~/css/Calculator/Index.css" />
@model Autopodbor_312.ViewModel.CalculatorViewModel;
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer;

@{
	ViewBag.Title = @localizer["calculatorTitle"];
}

<h1>@localizer["titleDescription"]</h1>
<hr />

<div class="row">
	<div class="col-md-4">
		<form>
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label class="control-label">@localizer["brandLabelOrderForm"]</label>
				<select onchange="GetSelectedTextValue(this)" class="form-control" id="brand">
					<option value="">@localizer["brandOptionOrderForm"]</option>
					@foreach (var brand in Model.CarsBrands)
					{

						<option data-id="@brand.Id" value="@brand.Price">@brand.Brand</option>

					}
				</select>
			</div>

			<div class="form-group">
				<label class="control-label">@localizer["modelLabel"]</label>
				<select class="form-control" id="select-model">
					<option value="">@localizer["modelOptionOrderForm"]</option>

				</select>
			</div>
			<div class="form-group">
				<label class="control-label">@localizer["bodyTypeLabel"]</label>
				<select class="form-control" id="body">
					@foreach (var body in Model.CarsBodyTypes)
					{
						<option value="@body.Price">@body.BodyType</option>
					}
				</select>
			</div>
			<div class="form-group">
				<label class="control-label">@localizer["manufacturesYearLabel"]</label>
				<select class="form-control" id="year">
					@foreach (var year in Model.CarsYears)
					{
						<option value="@year.Price">@year.ManufacturesYear</option>
					}
				</select>
			</div>
			<div class="form-group">
				<label class="control-label">@localizer["fuelsTypeLabel"]</label>
				<select class="form-control" id="fuel">
					@foreach (var fuel in Model.CarsFuels)
					{
						<option value="@fuel.Price">@fuel.FuelsType</option>
					}
				</select>
			</div>
			<div class="form-group">
				<input type="submit" value="@localizer["calculateButton"]" class="btn btn-primary" onclick="Calculate()" />
			</div>
		</form>
	</div>
</div>
<div id="sum">
</div>


@section Scripts
	{
	<script>
		let Id = '';
		function GetId(id) {
			Id = id;
		};
		const selectModal = $('#select-model');
		const addOption = (options) => {
			if (options.length > 0) {
				options.forEach((item) => {
					selectModal.append(`<option value="${item.price}">${item.model}</option>`)
				});
				return;
			}
			selectModal.append('<option value="">Нет моделей</option>');
		};
		function GetSelectedTextValue(brand) {
			var brandId = brand.options[brand.selectedIndex].getAttribute('data-id');
			console.log(brandId);
			$.ajax({
				url: '@Url.Action("GetModel", "Calculator")',
				type: 'POST',
				data: {
					'brandId': brandId,
				},
				success: (response) => {
					selectModal.empty();
					addOption(response.carsBrandsModels);
					console.log(response);
				}
			});
			event.preventDefault();
		};

		function Calculate() {
			event.preventDefault();
			let brand = $("#brand").val();
			let body = $("#body").val();
			let year = $("#year").val();
			let fuel = $("#fuel").val();
			let model = $("#select-model").val();
			let sum = Number(brand) + Number(body) + Number(year) + Number(fuel) + Number(model);
			document.getElementById('sum').innerHTML = `${sum}`;
		};
	</script>
}