@model List<Autopodbor_312.Models.Services>

@{
    ViewData["Title"] = "Index";
}

@if(User.IsInRole("admin")) {
    <div>
         <p>
        <a asp-action="CreateServices">Create New Service</a>
    </p>
    </div>
}
<div class=row>
    @foreach (var item in Model)
    {
        <div class="card col-4" style="width: 18rem;">
            <img src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/3b7b527518607.560acd8ccb0e9.jpg" class="card-img-top" alt="cafe">
            <div class="card-body">
                <h5 class="card-title">@item.Name</h5>
                <p class="card-text">@item.Description</p>
                
                @if (User.IsInRole("admin"))
                {
                    <a asp-action="EditServices" asp-route-id="@item.Id"> Изменить  |</a>
                    <a asp-action = "DeleteServices" asp-route-id="@item.Id"> Удалить </a>
                }
                else if (!User.IsInRole("admin") && (!User.IsInRole("mediaManager")) && (!User.IsInRole("portfolioManager")))
                {
                    <a  asp-controller="Order" asp-action="Index" asp-route-serviceName="@item.Name"> Заказать </a>
                }          
                @if (@item.Name == "Дополнительные услуги")
                {
                    <a asp-action="AdditionalServicesDetails" asp-route-id="@item.Id">| Подробнее </a>
                }
                else if (!User.IsInRole("admin") && (!User.IsInRole("mediaManager")) && (!User.IsInRole("portfolioManager")) && @item.Name == "Выездной осмотр")
                { 
                    <a asp-controller="Calculator" asp-action="Index">| Калькулятор </a> 
                }              
            </div>
        </div>
    }   

    </div>
