<link type="text/css" rel="stylesheet" href="~/css/Home/Index.css" />
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer;
@model Autopodbor_312.ViewModel.MainPageViewModel;
@{
    ViewData["Title"] = @localizer["mainPageTitle"];
}
   <div class="mTop ">
      <div class="row  row-cols-1 row-cols-md-3 g-4 mt-2 main-block m-0">
         <div class="col-md-6  p-0 m-0">
            <img class="img-fluid rounded-start" src="@Model.FirstBanner.Path" alt="Photo">
         </div>
         <div class="col-md-6 text-center p-0 m-0 ">
             <div class="card-body banner">
                @if(System.Threading.Thread.CurrentThread.CurrentCulture.Name == "ru")
                {
                    <p class="card-title fw-bold text-uppercase">@Model.FirstBanner.TitleRu</p>
                    <p class="card-text">@Model.FirstBanner.DescriptionRu</p>
                }
                else
                {
                    <h5 class="card-title fw-bold text-uppercase">@Model.FirstBanner.TitleKy</h5>
                    <p class="card-text">@Model.FirstBanner.DescriptionKy</p>
                }
                <a class="btn btn-success fw-bold border border-white banner" asp-controller="Service" asp-action="Services">@localizer["orderButton"]</a>
             </div>
         </div>
      </div>
   </div>

    <div class="card mTop text-bg-dark">
          <img class="img-fluid rounded-start" src="@Model.SecondBanner.Path" alt="Photo">
        <div class="card-img-overlay text-center text-white p-2 position-absolute top-50 start-50 translate-middle">
        @if(System.Threading.Thread.CurrentThread.CurrentCulture.Name == "ru")
        {
                    <h5 class="card-title aib fw-bold lh-lg text-uppercase">@Model.SecondBanner.TitleRu</h5>
                    <p class="card-text aib fw-bold">@Model.SecondBanner.DescriptionRu</p>
                }else
                {
                    <h5 class="card-title fs-4 fw-bold lh-lg text-uppercase">@Model.SecondBanner.TitleKy</h5>
                    <p class="card-text fw-bold">@Model.SecondBanner.DescriptionKy</p>
                }
        </div>
    </div>

   <div id="photosCarousel" class="carousel mTop  slide" data-bs-ride="carousel">
       <div class="carousel-inner">
            @for (int j = 0; j < Model.ThirdBanner.Count(); j++){
                 @if (j == 0){
                      <div class="carousel-item active">
                            <div class="row">
                                 <img class="d-block col-md-6" src="@Model.ThirdBanner[j].Path" alt="Photo">
                                <div class="col-md-6 tool">
                            @if (System.Threading.Thread.CurrentThread.CurrentCulture.Name == "ru")
                            {
                                           <p class="tool text-uppercase">@Model.ThirdBanner[j].TitleRu</p>
                                           <h5 class="tool">@Model.ThirdBanner[j].DescriptionRu</h5>
                                          }
                                      else
                                         {
                                           <p class="tool text-uppercase">@Model.ThirdBanner[j].TitleKy</p>
                                           <h5 class="tool">@Model.ThirdBanner[j].DescriptionKy</h5>
                                         }
                                 </div> 
                            </div>   
                       </div>
                              }
                   else{
                      <div class="carousel-item">
                          <div class="row">
                              <img class="d-block col-md-6" src="@Model.ThirdBanner[j].Path" alt="Photo">
                             <div class="col-md-6 tool">
                            @if (System.Threading.Thread.CurrentThread.CurrentCulture.Name == "ru")
                            {
                                        <p class="tool text-uppercase">@Model.ThirdBanner[j].TitleRu</p>
                                        <h5 class="tool">@Model.ThirdBanner[j].DescriptionRu</h5>
                                    }
                                    else
                                    {
                                         <p class="tool text-uppercase">@Model.ThirdBanner[j].TitleKy</p>
                                        <h5 class="tool">@Model.ThirdBanner[j].DescriptionKy</h5>
                                    }
                               </div> 
                          </div>   
                      </div>
                         }
                    }
      </div>
           <button class="carousel-control-prev" type="button" data-bs-target="#photosCarousel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
           </button>
           <button class="carousel-control-next" type="button" data-bs-target="#photosCarousel" data-bs-slide="next">
             <span class="carousel-control-next-icon" aria-hidden="true"></span>
             <span class="visually-hidden">Next</span>
           </button>
  </div>