<link type="text/css" rel="stylesheet" href="~/css/Media/Portfolio/PortfolioIndex.css" />
@model Autopodbor_312.ViewModel.FilterPortfolioViewModel;
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer;

@{
	ViewData["Title"] = @localizer["portfolioTitle"];
}


<h1 class="title text-center py-4">@localizer["portfolioTurnkeySeclectionTitle"]</h1>

<form method="get">
	<div class="d-flex justify-content-between form-inline my-2 mx-4 select-style">
		<div class="d-flex ms-3 col-style">
			<label class="control-label">@localizer["carsBodyLabelOrderForm"] </label>
			<select class="form-select" name="bodyType">
					@if (Model.SelectedBodyType == 0 || Model.SelectedModel == null)
				{
					<option value="0">@localizer["allFilter"]</option>
					@for (int i = 0; i < Model.CarsBodyTypes.Count; i++)
					{
						<option value="@Model.CarsBodyTypes[i].Id">@Model.CarsBodyTypes[i].BodyType</option>
					}
				}
				else
				{
					<option value="@Model.SelectedBodyType">@Model.SelectedBodyTypeString</option>
					@for (int i = 0; i < Model.CarsBodyTypes.Count; i++)
				{
						@if (@Model.CarsBodyTypes[i].Id != @Model.SelectedBodyType)
						{
					<option value="@Model.CarsBodyTypes[i].Id">@Model.CarsBodyTypes[i].BodyType</option>
						}
				}
				}
			</select>
		</div>
		<div class="d-flex ms-3 col-style">
			<label class="control-label">@localizer["brandLabelOrderForm"] </label>
			<select class="form-select" name="brand">
				@if (Model.SelectedBrand == 0 || Model.SelectedModel == null)
				{
					<option value="0">@localizer["allFilter"]</option>
					@for (int i = 0; i < Model.CarsBrands.Count; i++)
					{
						<option value="@Model.CarsBrands[i].Id">@Model.CarsBrands[i].Brand</option>
					}
				}
				else
				{
					<option value="@Model.SelectedBrand">@Model.SelectedBrandString</option>
					@for (int i = 0; i < Model.CarsBrands.Count; i++)
					{
						@if (Model.CarsBrands[i].Id != Model.SelectedBrand)
						{
							<option value="@Model.CarsBrands[i].Id">@Model.CarsBrands[i].Brand</option>
						}
					}
				}
			</select>
		</div>
		<div class="d-flex ms-3 col-style">
			<label class="control-label">@localizer["modelLabelOrderForm"]  </label>
			<select class="form-select" name="model">
				@if (Model.SelectedModel == 0 || Model.SelectedModel == null)
				{
					<option value="0">@localizer["allFilter"]</option>
					@for (int i = 0; i < Model.CarsModels.Count; i++)
					{
						<option value="@Model.CarsModels[i].Id">@Model.CarsModels[i].Model</option>
					}
				}
				else
				{
					<option value="@Model.SelectedModel">@Model.SelectedModelString</option>
					@for (int i = 0; i < Model.CarsModels.Count; i++)
					{
						@if (Model.CarsModels[i].Id != Model.SelectedModel)
						{
							<option value="@Model.CarsModels[i].Id">@Model.CarsModels[i].Model</option>
						}
					}
				}
			</select>
		</div>
		<input type="submit" value="@localizer["filter"]" class="btn btn-default" />
	</div>
</form>

<div class="container">

        <div class="secondBlock">
            <div class="row">
                @foreach (var item in Model.Portfolios)
                {
                    <div class="allCard col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-6">
                        <div class="card border-0 rounded-5">
                            <img src="@item.MainImagePath" class="allImg card-img-top rounded-top-5" alt="...">
                            <div class="card-body">
							@if (System.Threading.Thread.CurrentThread.CurrentCulture.Name == "ru")
                                {
									<p class="text-end">@item.CreatedDate</p>
                                    <h2 class="card-title text-center pb-2">@item.NameRu</h2>
                                    <p class="card-text cuttedText">@item.BodyRu</p>
									
                                }
                                else
                                {
                                    <h2 class="card-title text-center pb-2">@item.NameKy</h2>
                                    <p class="card-text cuttedText">@item.BodyKy</p>
									<p class="text-end">@item.CreatedDate</p>
                                }
                            </div>
                                <a class="btn buttons btn-outline-secondary" asp-controller="Portfolio" asp-action="DetailsPortfolio" asp-route-id="@item.Id">@localizer["detailsButton"]</a>

                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

@{
	var prevDisabled = !Model.Portfolios.PreviousPage ? "disabled" : "";
	var nextDisabled = !Model.Portfolios.NextPage ? "disabled" : "";
}
<a asp-action="IndexTurnkeySelection" asp-route-bodyType="@Model.SelectedBodyType" asp-route-brand="@Model.SelectedBrand" asp-route-model="@Model.SelectedModel" asp-route-pageIndex="@(Model.Portfolios.PageIndex-1)" class="btn btn-default @prevDisabled">@localizer["previousButton"]</a>
<a asp-action="IndexTurnkeySelection" asp-route-bodyType="@Model.SelectedBodyType" asp-route-brand="@Model.SelectedBrand" asp-route-model="@Model.SelectedModel" asp-route-pageIndex="@(Model.Portfolios.PageIndex+1)" class="btn btn-default @nextDisabled">@localizer["nextButton"]</a>
