@using System.Threading;
@model Autopodbor_312.ViewModel.FilterPortfolioViewModel;
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer;

@{
	ViewData["Title"] = @localizer["portfolioTitle"];
}


<h1>@localizer["portfolioFieldInspectionTitle"]</h1>

<form method="get">
	<div class="form-inline">
		<label class="control-label">Тип кузова: </label>
		@Html.DropDownList("bodyType", Model.CarsBodyTypes as SelectList,
		htmlAttributes: new { @class = "form-control" })

		<label class="control-label">Марка авто: </label>
		@Html.DropDownList("brand", Model.CarsBrands as SelectList,
		htmlAttributes: new { @class = "form-control" })

		<label class="control-label">Модель авто: </label>
		@Html.DropDownList("model", Model.CarsModels as SelectList,
		htmlAttributes: new { @class = "form-control" })

		<input type="submit" value="@localizer["filter"]" class="btn btn-default" />
	</div>
</form>

<div class="card" style="width: 18rem;">
	@foreach (var item in Model.Portfolios)
	{
		<img src="@item.MainImagePath" class="card-img-top" alt="photo">
		<div class="card-body">
			@if (@Thread.CurrentThread.CurrentCulture.DisplayName == "Русский")
			{
				<h5 class="card-title">@item.NameRu</h5>
				<p>@item.BodyRu</p>
			}
			else
			{
				<h5 class="card-title">@item.NameKy</h5>
				<p>@item.BodyKy</p>
			}
			<p>@item.CreatedDate</p>
			<a asp-controller="Portfolio" asp-action="DetailsPortfolio" asp-route-id="@item.Id">@localizer["detailsButton"]</a>
		</div>
	}
</div>
@{
	var prevDisabled = !Model.Portfolios.PreviousPage ? "disabled" : "";
	var nextDisabled = !Model.Portfolios.NextPage ? "disabled" : "";
}
<a asp-action="IndexFieldInspection" asp-route-pageNumber="@(Model.Portfolios.PageIndex-1)" class="btn btn-default @prevDisabled">@localizer["previousButton"]</a>
<a asp-action="IndexFieldInspection" asp-route-pageNumber="@(Model.Portfolios.PageIndex+1)" class="btn btn-default @nextDisabled">@localizer["nextButton"]</a>
