@model Autopodbor_312.ViewModel.PortfolioAndUploadFileViewModel

@{
    ViewData["Title"] = "EditPortfolio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>EditPortfolio</h1>

<h4>Portfolio</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditPortfolio">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.Portfolio.Id" />
            <div class="form-group">
                <label asp-for="@Model.Portfolio.Name" class="control-label"></label>
                <input asp-for="@Model.Portfolio.Name" class="form-control" />
                <span asp-validation-for="@Model.Portfolio.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Portfolio.Body" class="control-label"></label>
                <input asp-for="@Model.Portfolio.Body" class="form-control" />
                <span asp-validation-for="@Model.Portfolio.Body" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Portfolio.Publicate" class="control-label"></label>
                <input class="form-check-input" asp-for="@Model.Portfolio.Publicate" type="checkbox"/>
                <span asp-validation-for="@Model.Portfolio.Publicate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="@Model.Portfolio.CreatedDate" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div class="container">
    <div class="row">
        <div>
            <h5 class="mt-3 mb-3">Главная картина: </h5>
            <form method="post" enctype="multipart/form-data">
                <input type="hidden" name="id" value="@Model.MainPic.Id" />
                <img width="100" height="100" src="@Model.MainPic.Path" />
                <br />
                <input type="file" name="uploadFilePic" />
                <input asp-action="EditUploadFile" asp-controller="Media" type="submit" asp-route-type="main" asp-route-port="yes" value="Изменить" class="btn btn-primary" />
            </form>
        </div>
        <h4 class="mt-3 mb-3">Снимки: </h4>
        @foreach (var item in Model.Pictures)
        {
            <div class="col-3">
                <form asp-action="EditUploadFile" asp-controller="Media" asp-route-port="yes" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="id" value="@item.Id" />
                    <img width="100" height="100" src="@item.Path" />
                    <br />
                    <input type="file" name="uploadFilePic" />
                    <input type="submit" value="Изменить" class="btn btn-primary" />
                </form>
                <form method="post">
                    <input type="submit" asp-action="DeleteUpload" asp-controller="Media" asp-route-id="@item.Id" class="btn btn-primary" value="Удалить картину" />
                </form>
            </div>
        }
        <form class="mt-3 mb-3" method="post" enctype="multipart/form-data">
            <h6>Добавление:</h6>
            <input type="file" name="uploadFilePic" />
            <input type="submit" asp-action="CreateUpload" asp-controller="Media" asp-route-id="@Model.Portfolio.Id" asp-route-type="port" class="btn btn-primary" value="Добавить картину" />
        </form>
    </div>
    <div class="row">
        <h4 class="mt-3 mb-3">Видео: </h4>
        @foreach (var item in Model.Videos)
        {
            <div class="col-2">
                <form asp-action="EditUploadFile" asp-controller="Media" asp-route-port="yes" asp-route-vid="yes" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="id" value="@item.Id" />
                    <iframe width="150" height="100" src=@item.Path title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <br />
                    <input type="text" name="videoPath" placeholder="Введите id ролика"/>
                    <input type="submit" value="Изменить" class="btn btn-primary" />
                </form>
                <form method="post">
                    <input type="submit" asp-action="DeleteUpload" asp-controller="Media" asp-route-id="@item.Id" asp-route-type="vid" class="btn btn-primary" value="Удалить видео" />
                </form>
            </div>
        }
        <form class="mt-3 mb-3" method="post" enctype="multipart/form-data">
            <h6>Добавление:</h6>
            <input type="text" name="video" />
            <input type="submit" asp-action="CreateUpload" asp-controller="Media" asp-route-id="@Model.Portfolio.Id" asp-route-type="port" asp-route-vid="yes" class="btn btn-primary" value="Добавить видео" />
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
